<% include ./partials/header %>
  <ul>
    <% commits.forEach(commit => { %>
      <li>
        <span>
          <%= commit.message %>
        </span>
      </li>
    <% }); %>
  </ul>
<% include ./partials/footer %>
