<% include ./partials/header %>
  <h1><%= error.status ? message : 'Error' %></h1>
  <p><%= error.status ? error.status : message %></p>
  <pre><%= error.stack %></pre>
<% include ./partials/footer %>
